Cython
imbalanced-learn
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras
Keras-Applications
Keras-Preprocessing
matplotlib
numpy
numpydoc
pandas
scikit-image
scikit-learn
scipy
seaborn
tensorboard
tensorflow
tensorflow

